{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Складський застосунок{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}">
</head>
<body>
    <header>
        {% include 'partials/menu.html' %}
    </header>

    {% include 'partials/messages.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2026 Bosco Warehouse System</p>
    </footer>
</body>
</html>